<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhengsr.viewpagerhelper">
    xmlns:tools="http://schemas.android.com/tools"
    tools:replace="android:value"
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.guide.GlideZoomActivity" />
        <activity android:name=".activity.guide.GlideTransActivity" />
        <activity android:name=".activity.guide.GlidenormalActivity" />
        <activity android:name=".activity.loop.LoopActivity" />
        <activity android:name=".tab.TabActivity" />
        <activity android:name=".tab.TriTabActivity" />
        <activity android:name=".tab.RectTabActivity" />
        <activity android:name=".tab.ColorTabActivity" />
        <activity android:name=".activity.NetWorkActivity" />
        <activity android:name=".activity.ScaleImageActivity" />
        <activity android:name=".activity.guide.GuideActivity" />
        <activity android:name=".activity.loop.CardLoopActivity" />
        <activity android:name=".activity.loop.MzLoopActivity"></activity>
    </application>

</manifest>